.root{

}

.titled-pane{
    -fx-background-color: #D9D9D9;
}

.titled-pane > .title{
    -fx-background-color:#BEBEBE;
}

.text-field{
    -fx-background-color: #D9D9D9;
    -fx-border-color: #000000;
}

.combo-box{
    -fx-background-color: #D9D9D9;
    -fx-border-color: #000000;
}

.pane{
    -fx-background-color: #BEBEBE;
}

.button{
    -fx-border-radius: 6em;
    -fx-background-radius: 6em;
    -fx-background-color: #D9D9D9;
    -fx-border-color: #000000;
}
