.anchor-pane{
    -fx-background-color: #BEBEBE;
    -fx-background-radius: 1.5em;
}

.quit-button{
    -fx-background-color:transparent;
}

.quit-button:hover{
    -fx-text-fill: #ffffff;
}

.scroll-pane > .viewport{
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
    -fx-background-color: transparent;
}

.anchor-pane-saves{
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
}

.hbox{
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
}

.plus-button{
    -fx-background-radius: 5.5em;
    -fx-border-radius: 5.5em;
    -fx-background-color: #BEBEBE;
    -fx-border-color: #000000;
}

.plus-button:hover{
    -fx-background-color:#cfcccc;
}