.root{
    -fx-background-color:  #BEBEBE; 
}

.menu-bar{
    -fx-background-color:  #BEBEBE;
}

.menu{
    -fx-background-color:  #BEBEBE;
}

.menu:hover{
    -fx-background-color:  #cfcccc;
}

.menu .label{
    -fx-text-fill: #000000;
}

.menu .label:hover{
    -fx-text-fill: #000000;
}

.menu-item{
    -fx-background-color:  #BEBEBE;
}

.menu-item:hover{
    -fx-background-color:  #cfcccc; 
}