/* Main Menu */
.main-menu-anchor-pane{
    -fx-background-color: #4A4A4A;
    -fx-background-radius: 1.5em;
}

.main-menu-quit-button{
    -fx-background-color:transparent;
}

.main-menu-quit-button:hover{
    -fx-text-fill: #1A1A1A;
}

.main-menu-scroll-pane > .viewport{
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
    -fx-background-color: transparent;
}

.main-menu-anchor-pane-saves{
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
}

.main-menu-hbox{
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
}

.main-menu-plus-button{
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 5.5em;
    -fx-border-radius: 5.5em;
    -fx-background-color: #4A4A4A;
    -fx-border-color: #FFFFFF;
}

.main-menu-plus-button:hover{
    -fx-background-color:#3A3A3A;
}

/* Settings */

.settings-border-pane{
    -fx-background-color: #4A4A4A;
}

.settings-button-path{
    -fx-background-color: #4A4A4A;
    -fx-text-fill: #ffffff;
    -fx-border-width: 1em;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0.05em;
    -fx-background-radius: 0.25em;
    -fx-border-radius: 0.25em;
}

.button-path:hover{
    -fx-background-color:#3A3A3A;
}

.radio-button .radio{
    -fx-background-color:#4A4A4A;
}

.settings-radio-button .radio .dot{
    -fx-background-color:#4A4A4A;
    -fx-background-insets: 0;
}

.radio-button .radio:hover{
    -fx-background-color:#3A3A3A;
}

.radio-button:selected .radio .dot{
    -fx-background-color:#FFFFFF;
    -fx-background-insets: 0;
}

.settings-button-back{
    -fx-background-color: transparent;
}

.button-back:hover{
    -fx-text-fill: #ffffff;
}

/*Menu Bar*/

.menu-bar-menu-bar{
    -fx-background-color:  #4A4A4A;
}

.context-menu {
    -fx-background-color: #4A4A4A;
    -fx-padding: 10;
    -fx-max-height: 200px;
    -fx-background-radius: 1em;
}

.menu{
    -fx-background-color:  #4A4A4A;
}

.menu:hover{
    -fx-background-color:  #3A3A3A;
    -fx-background-radius: 1em;
}

.menu .label{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Dubai;
    -fx-font-size: 14;
}

.menu .label:hover{
    -fx-text-fill: #FFFFFF;
}

.menu-item{
    -fx-background-color:  #4A4A4A;
}

.menu-item .label{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Dubai;
    -fx-font-size: 14;
}

.menu-item:hover{
    -fx-background-color:  #3A3A3A; 
    -fx-background-radius: 1em;
}

/*Astral Creation*/

.aa-titled-pane{
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.titled-pane .title{
    -fx-background-color:#4A4A4A;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.titled-pane .title:hover{
    -fx-background-color:#3A3A3A;
}

.aa-text-field{
    -fx-background-color: #333333;
    -fx-border-color: #FFFFFF;
    -fx-text-fill: #FFFFFF;
}

.text-field:hover{
    -fx-background-color: #3A3A3A;
}

.aa-text-area{
    -fx-background-color: #333333;
    -fx-border-color: #FFFFFF;
}

.text-area:hover{
    -fx-background-color: #3A3A3A;
}

.aa-combo-box{
    -fx-background-color: #333333;
    -fx-border-color: #FFFFFF;
    -fx-text-fill: #FFFFFF;
}

.combo-box .list-cell{
    -fx-text-fill: #FFFFFF;
}

.combo-box:hover{
    -fx-background-color: #3A3A3A;
    -fx-background-radius: 1em;
}

.combo-box .list-view .list-cell{
    -fx-background-color: #333333;
    -fx-text-fill: #FFFFFF;
}

.combo-box .list-view .list-cell:focused{
    -fx-background-color: #A6A6A6;
}

.combo-box .list-view .list-cell:hover{
    -fx-background-color: #3A3A3A;
    -fx-text-fill: #FFFFFF;
}

.aa-pane{
    -fx-background-color: #4A4A4A;
}

.aa-button{
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 6em;
    -fx-background-radius: 6em;
    -fx-background-color: #333333;
    -fx-border-color: #FFFFFF;
}

.button:hover{
    -fx-background-color: #3A3A3A;
}


/*Control Bar*/
.cb-titled-pane{
    -fx-background-color:  #4A4A4A;
}

.titled-pane .title{
    -fx-background-color:#4A4A4A;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.titled-pane .title:hover{
    -fx-background-color:#3A3A3A;
}

.cb-anchor-pane{
    -fx-background-color:  #4A4A4A;
}

.cb-control-button{
    -fx-background-color: transparent;
}

.control-button:hover{
    -fx-background-color:  #3A3A3A;
}

.cb-zoom-button{
    -fx-background-color:  #B3B3B3;
    -fx-border-color:  #FFFFFF;
    -fx-background-radius: 0.25em;
    -fx-border-radius: 0.25em;
}

.zoom-button:hover{
    -fx-background-color:  #3A3A3A;
}

.cb-rectangle{
    -fx-background-color:  #4A4A4A;
}

.cb-slider{

}

.slider:hover .track{
    -fx-background-color: #3A3A3A;
}

.slider .track{
    -fx-background-color: #B3B3B3;
}

.slider .thumb{
    -fx-background-color: #FFFFFF;
}

/*Extra*/

.settings-button-back{
    -fx-background-radius: 0.5em;
    -fx-border-radius: 0.5em;
    -fx-text-fill: #FFFFFF;
}

.main-menu-quit-button{
    -fx-background-radius: 0.5em;
    -fx-border-radius: 0.5em;
    -fx-text-fill: #FFFFFF;
}

.main-menu-quit-button:hover{
    -fx-text-fill: #FFFFFF;
}

.aa-text-area{
    -fx-background-color: #333333;
    -fx-border-color: #FFFFFF;
}

