.titled-pane{
    -fx-background-color:  #BEBEBE;
}

.titled-pane .title{
    -fx-background-color:#BEBEBE;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.titled-pane .title:hover{
    -fx-background-color:#cfcccc;
}

.anchor-pane{
    -fx-background-color:  #BEBEBE;
}

.control-button{
    -fx-background-color: transparent;
}

.control-button:hover{
    -fx-background-color:  #cfcccc;
}

.zoom-button{
    -fx-background-color:  #8C8C8C;
    -fx-border-color:  #000000;
    -fx-background-radius: 0.25em;
    -fx-border-radius: 0.25em;
}

.zoom-button:hover{
    -fx-background-color:  #cfcccc;
}

.rectangle{
    -fx-background-color:  #BEBEBE;
}